/.vs/Turakas.Spring/DesignTimeBuild/.dtbcache.v2
/.vs/Turakas.Spring/v17/.futdcache.v2
/Turakas.ApplicationCore/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Turakas.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Turakas.Domain.Shared/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Turakas.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Turakas.Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Turakas.WorkFlow/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.vs/Turakas.Spring/v17/.suo
/.vs/Turakas.Spring/FileContentIndex/16a76fe1-ce16-4f86-b1bb-099818a9559d.vsidx
/.vs/Turakas.Spring/FileContentIndex/af5a16d9-3510-4f1a-b808-2644c83990d4.vsidx
/Turakas.Web/obj/Debug/net6.0/apphost.exe
/Turakas.Web/AppSettings.cs
/Turakas.ApplicationCore/appsettings.Development.json
/Turakas.Web/bin/Debug/net6.0/appsettings.Development.json
/Turakas.Web/appsettings.Development.json
/Turakas.ApplicationCore/appsettings.json
/Turakas.Web/bin/Debug/net6.0/appsettings.json
/Turakas.Web/appsettings.json
/.vs/Turakas.Spring/FileContentIndex/bbf51f0f-f4d4-4fb1-9c77-dd88f7dafcec.vsidx
/.vs/Turakas.Spring/FileContentIndex/c362a669-5450-4ee4-a406-758eef4da038.vsidx
/Turakas.WorkFlow/Step/CreateOrderStep.cs
/Turakas.Web/Extensions/CustomExtensionMethods.cs
/Turakas.WorkFlow/Activity/DoAddActivity.cs
/Turakas.WorkFlow/Data/EmployeeData.cs
/Turakas.Domain.Shared/Generics/EntityBase.cs
/Turakas.Domain.Shared/EntityBase.cs
/Turakas.WorkFlow/Flow/HelloWorldWorkFlow.cs
/Turakas.Domain.Shared/IUnitOfWork.cs
/Turakas.Web/Common/JwtHelper.cs
/Turakas.ApplicationCore/Properties/launchSettings.json
/Turakas.Web/Properties/launchSettings.json
/Turakas.WorkFlow/Properties/launchSettings.json
/Turakas.Web/bin/Debug/net6.0/Microsoft.AI.DependencyCollector.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.AI.EventCounterCollector.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.AI.PerfCounterCollector.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.AI.ServerTelemetryChannel.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.AI.WindowsServer.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.ApplicationInsights.AspNetCore.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.ApplicationInsights.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.Extensions.DiagnosticAdapter.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.Extensions.Logging.ApplicationInsights.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.Extensions.PlatformAbstractions.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Turakas.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Turakas.Web/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Turakas.Web/obj/Debug/net6.0/staticwebassets/msbuild.build.Turakas.Web.props
/Turakas.Web/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Turakas.Web.props
/Turakas.Web/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Turakas.Web.props
/Turakas.Web/bin/Debug/net6.0/Newtonsoft.Json.dll
/Turakas.WorkFlow/Data/Order.cs
/Turakas.ApplicationCore/Controllers/OrderController.cs
/Turakas.WorkFlow/Flow/OrderWorkflow.cs
/Turakas.WorkFlow/Step/ProcessOrderStep.cs
/Turakas.ApplicationCore/Program.cs
/Turakas.Web/Program.cs
/Turakas.ApplicationCore/obj/project.assets.json
/Turakas.Domain/obj/project.assets.json
/Turakas.Domain.Shared/obj/project.assets.json
/Turakas.Infrastructure/obj/project.assets.json
/Turakas.Web/obj/project.assets.json
/Turakas.WorkFlow/obj/project.assets.json
/Turakas.ApplicationCore/obj/project.nuget.cache
/Turakas.Domain/obj/project.nuget.cache
/Turakas.Domain.Shared/obj/project.nuget.cache
/Turakas.Infrastructure/obj/project.nuget.cache
/Turakas.Web/obj/project.nuget.cache
/Turakas.WorkFlow/obj/project.nuget.cache
/Turakas.ApplicationCore/obj/project.packagespec.json
/Turakas.Domain/obj/project.packagespec.json
/Turakas.Domain.Shared/obj/project.packagespec.json
/Turakas.Infrastructure/obj/project.packagespec.json
/Turakas.Web/obj/project.packagespec.json
/Turakas.WorkFlow/obj/project.packagespec.json
/.vs/Turakas.Spring/FileContentIndex/read.lock
/Turakas.WorkFlow/Step/ReviewOrderStep.cs
/Turakas.ApplicationCore/obj/rider.project.restore.info
/Turakas.Web/obj/rider.project.restore.info
/Turakas.WorkFlow/Step/SayHelloStep.cs
/Turakas.Web/Properties/serviceDependencies.json
/Turakas.Web/Properties/serviceDependencies.local.json
/Turakas.Web/Properties/serviceDependencies.local.json.user
/Turakas.WorkFlow/Step/ShipOrderStep.cs
/Turakas.ApplicationCore/Startup.cs
/Turakas.Web/obj/Debug/net6.0/staticwebassets.build.json
/Turakas.Web/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Turakas.Web/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Turakas.Web/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Turakas.Web/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Turakas.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Turakas.Web/bin/Debug/net6.0/System.Diagnostics.PerformanceCounter.dll
/Turakas.Web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Turakas.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Turakas.Web/bin/Debug/net6.0/System.Drawing.Common.dll
/Turakas.Web/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Turakas.Web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Turakas.Web/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/Turakas.Web/bin/Debug/net6.0/System.Security.Permissions.dll
/Turakas.Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Turakas.Web/bin/Debug/net6.0/System.Windows.Extensions.dll
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.ApplicationCore.AssemblyInfo.cs
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.ApplicationCore.AssemblyInfoInputs.cache
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.ApplicationCore.assets.cache
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.ApplicationCore.csproj.AssemblyReference.cache
/Turakas.ApplicationCore/obj/Turakas.ApplicationCore.csproj.nuget.dgspec.json
/Turakas.ApplicationCore/obj/Turakas.ApplicationCore.csproj.nuget.g.props
/Turakas.ApplicationCore/obj/Turakas.ApplicationCore.csproj.nuget.g.targets
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.ApplicationCore.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.ApplicationCore.GlobalUsings.g.cs
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.Core.AssemblyInfo.cs
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.Core.AssemblyInfoInputs.cache
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.Core.assets.cache
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.Core.csproj.AssemblyReference.cache
/Turakas.ApplicationCore/obj/Turakas.Core.csproj.nuget.dgspec.json
/Turakas.Domain/obj/Turakas.Core.csproj.nuget.dgspec.json
/Turakas.ApplicationCore/obj/Turakas.Core.csproj.nuget.g.props
/Turakas.Domain/obj/Turakas.Core.csproj.nuget.g.props
/Turakas.ApplicationCore/obj/Turakas.Core.csproj.nuget.g.targets
/Turakas.Domain/obj/Turakas.Core.csproj.nuget.g.targets
/Turakas.ApplicationCore/Turakas.Core.csproj.user
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.Core.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.ApplicationCore/obj/Debug/net6.0/Turakas.Core.GlobalUsings.g.cs
/Turakas.Domain/obj/Debug/net6.0/Turakas.Domain.AssemblyInfo.cs
/Turakas.Domain/obj/Debug/net6.0/Turakas.Domain.AssemblyInfoInputs.cache
/Turakas.Domain/obj/Debug/net6.0/Turakas.Domain.assets.cache
/Turakas.Domain/Turakas.Domain.csproj
/Turakas.Domain/obj/Debug/net6.0/Turakas.Domain.csproj.AssemblyReference.cache
/Turakas.Domain/obj/Turakas.Domain.csproj.nuget.dgspec.json
/Turakas.Domain/obj/Turakas.Domain.csproj.nuget.g.props
/Turakas.Domain/obj/Turakas.Domain.csproj.nuget.g.targets
/Turakas.Domain/obj/Debug/net6.0/Turakas.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.Domain/obj/Debug/net6.0/Turakas.Domain.GlobalUsings.g.cs
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.Shared.AssemblyInfo.cs
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.Shared.AssemblyInfoInputs.cache
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.Shared.assets.cache
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.Shared.csproj.AssemblyReference.cache
/Turakas.Domain.Shared/obj/Turakas.Domain.Shared.csproj.nuget.dgspec.json
/Turakas.Domain.Shared/obj/Turakas.Domain.Shared.csproj.nuget.g.props
/Turakas.Domain.Shared/obj/Turakas.Domain.Shared.csproj.nuget.g.targets
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.Shared.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.Shared.GlobalUsings.g.cs
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.SharedKernel.AssemblyInfo.cs
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.SharedKernel.AssemblyInfoInputs.cache
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.SharedKernel.assets.cache
/Turakas.Domain.Shared/Turakas.Domain.SharedKernel.csproj
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.SharedKernel.csproj.AssemblyReference.cache
/Turakas.Domain.Shared/obj/Turakas.Domain.SharedKernel.csproj.nuget.dgspec.json
/Turakas.Domain.Shared/obj/Turakas.Domain.SharedKernel.csproj.nuget.g.props
/Turakas.Domain.Shared/obj/Turakas.Domain.SharedKernel.csproj.nuget.g.targets
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.SharedKernel.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.Domain.Shared/obj/Debug/net6.0/Turakas.Domain.SharedKernel.GlobalUsings.g.cs
/Turakas.Web/obj/Debug/net6.0/Turakas.Identity.AssemblyInfo.cs
/Turakas.Web/obj/Debug/net6.0/Turakas.Identity.AssemblyInfoInputs.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Identity.assets.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Identity.csproj.AssemblyReference.cache
/Turakas.Web/obj/Turakas.Identity.csproj.nuget.dgspec.json
/Turakas.Web/obj/Turakas.Identity.csproj.nuget.g.props
/Turakas.Web/obj/Turakas.Identity.csproj.nuget.g.targets
/Turakas.Web/Turakas.Identity.csproj.user
/Turakas.Web/obj/Debug/net6.0/Turakas.Identity.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.Web/obj/Debug/net6.0/Turakas.Identity.GlobalUsings.g.cs
/Turakas.Infrastructure/obj/Debug/net6.0/Turakas.Infrastructure.AssemblyInfo.cs
/Turakas.Infrastructure/obj/Debug/net6.0/Turakas.Infrastructure.AssemblyInfoInputs.cache
/Turakas.Infrastructure/obj/Debug/net6.0/Turakas.Infrastructure.assets.cache
/Turakas.Infrastructure/Turakas.Infrastructure.csproj
/Turakas.Infrastructure/obj/Debug/net6.0/Turakas.Infrastructure.csproj.AssemblyReference.cache
/Turakas.Domain/obj/Turakas.Infrastructure.csproj.nuget.dgspec.json
/Turakas.Infrastructure/obj/Turakas.Infrastructure.csproj.nuget.dgspec.json
/Turakas.Domain/obj/Turakas.Infrastructure.csproj.nuget.g.props
/Turakas.Infrastructure/obj/Turakas.Infrastructure.csproj.nuget.g.props
/Turakas.Domain/obj/Turakas.Infrastructure.csproj.nuget.g.targets
/Turakas.Infrastructure/obj/Turakas.Infrastructure.csproj.nuget.g.targets
/Turakas.Infrastructure/obj/Debug/net6.0/Turakas.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.Infrastructure/obj/Debug/net6.0/Turakas.Infrastructure.GlobalUsings.g.cs
/.vs/ProjectEvaluation/turakas.spring.metadata.v7.bin
/.vs/ProjectEvaluation/turakas.spring.projects.v7.bin
/Turakas.Spring.sln
/Turakas.Spring.sln.DotSettings.user
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.AssemblyInfo.cs
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.AssemblyInfoInputs.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.assets.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.csproj.AssemblyReference.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.csproj.CopyComplete
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.csproj.CoreCompileInputs.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.csproj.FileListAbsolute.txt
/Turakas.Web/obj/Turakas.Web.csproj.nuget.dgspec.json
/Turakas.Web/obj/Turakas.Web.csproj.nuget.g.props
/Turakas.Web/obj/Turakas.Web.csproj.nuget.g.targets
/Turakas.Web/bin/Debug/net6.0/Turakas.Web.deps.json
/Turakas.Web/bin/Debug/net6.0/Turakas.Web.dll
/Turakas.Web/obj/Debug/net6.0/ref/Turakas.Web.dll
/Turakas.Web/obj/Debug/net6.0/refint/Turakas.Web.dll
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.dll
/Turakas.Web/bin/Debug/net6.0/Turakas.Web.exe
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.genruntimeconfig.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.GlobalUsings.g.cs
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.MvcApplicationPartsAssemblyInfo.cache
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.MvcApplicationPartsAssemblyInfo.cs
/Turakas.Web/bin/Debug/net6.0/Turakas.Web.pdb
/Turakas.Web/obj/Debug/net6.0/Turakas.Web.pdb
/Turakas.Web/bin/Debug/net6.0/Turakas.Web.runtimeconfig.json
/Turakas.WorkFlow/obj/Debug/net6.0/Turakas.WorkFlow.AssemblyInfo.cs
/Turakas.WorkFlow/obj/Debug/net6.0/Turakas.WorkFlow.AssemblyInfoInputs.cache
/Turakas.WorkFlow/obj/Debug/net6.0/Turakas.WorkFlow.assets.cache
/Turakas.WorkFlow/Turakas.WorkFlow.csproj
/Turakas.WorkFlow/obj/Debug/net6.0/Turakas.WorkFlow.csproj.AssemblyReference.cache
/Turakas.WorkFlow/obj/Turakas.WorkFlow.csproj.nuget.dgspec.json
/Turakas.WorkFlow/obj/Turakas.WorkFlow.csproj.nuget.g.props
/Turakas.WorkFlow/obj/Turakas.WorkFlow.csproj.nuget.g.targets
/Turakas.WorkFlow/obj/Debug/net6.0/Turakas.WorkFlow.GeneratedMSBuildEditorConfig.editorconfig
/Turakas.WorkFlow/obj/Debug/net6.0/Turakas.WorkFlow.GlobalUsings.g.cs
/Turakas.Web/Controllers/UserController.cs
/Turakas.Domain.Shared/ValueObject.cs
/Turakas.ApplicationCore/WeatherForecast.cs
/Turakas.ApplicationCore/Controllers/WeatherForecastController.cs
/Turakas.Infrastructure/Service/Event/WorkflowEvent.cs
